
li:hover
{
background-color:yellow;
}



#header
{
	
	background-color:blue;
	width:900px;
	height:70px;
	float:left;
	
	
	
}

#main
{

   border-right-color:white;
   border-right-style:solid;
   font-size:25px;
   color:white;
   float:left;
   padding-right:10px;
   padding-left:10px;
   
   
   
}
#info
{
  border-right-color:white;
   border-right-style:solid;
   font-size:20px;
   color:yellow;
   float:left;
   padding-right:10px;
   padding-left:10px;
   


#register
{
	float:left;
	font-size:12px;
	color:white;
	padding-right:10px;
	padding-left:10px;
}	

